img {
    margin: auto;
    left: 0px;
    right: 0px;
    opacity: 0.3;
    position: absolute;
    z-index: -1;
    width: 100vw;
    height: 120vh;
}

h1 {
    text-align: center;
    z-index: 10;
    position: relative;
}

p, li {
    z-index: 10;
    position: relative;
}

span.dragon {
    color: maroon;
}

span.wedding {
    color: darkgreen;
}

span.piranha {
    color: darkblue;
}