.background-pic {
    opacity: 0.6;
    position: absolute;
    height: auto;
    width: 100vw;
    height: 160vh;
    z-index: -1;
    left: 0px;
}

.mini-header {
    background-color: white;
    padding-bottom: 30px;
    margin-top: 40px;
    margin-bottom: 0px;
    border: 5px solid black;
}

input {
    border: 2px solid black;
    font-size: 1.5em;
    font-family: tahoma;
    cursor: pointer;
}

.name {
    font-size: 1.5em;
}

button {
    font-size: 2em;
    padding: 10px;
    border-radius: 5px;
    margin: 25px;
    font-family: "spicy rice";
    border: 2px solid black;
    margin-bottom: 100px;
    cursor: pointer;
}

button:hover {
    background-color: lightgreen;
    box-shadow: 1px 3px black;
}

.themes{
    display: flex;
    justify-content: space-around;
}

.story-option {
    margin-top: 30px;
    background-color: #32cd32;
    color:black;
    border-radius: 5px;
    border: 5px solid black;
    padding: 20px 10px;
    font-size: 1.3em;
}

.story-option:hover {
    box-shadow: 5px 5px black;
}
