@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

body {
    padding: 0px;
    margin: 0px;
}

.title {
    padding: 0px;
    margin: 0px;
}

.background-pic {
    opacity: 0.9;
    position: absolute;
    height: auto;
    width: 100vw;
    height: 1100px;
    z-index: -1;
    left: 0px;
}

.background-pic2 {
    opacity: 0.9;
    position: absolute;
    top: 1270px;
    height: auto;
    width: 100vw;
    height: 140vh;
    z-index: -5;
    left: 0px; 
}

.selected-story {
    font-size: 2.5em;
}

.fish {
    line-height: 1.4;
    font-size: 2em;
    border: none;
    list-style-type: circle;
    background-color: transparent;
}

.story-list {
    margin-top: 40px;
}

ul {
    font-size: 0.7em;
    line-height: 0.7em;
    padding: 0px;
    margin: 0px;
}

h1 {
    text-align: center;
    z-index: 10;
    position: relative;
    margin: 0px;
    padding: 0px;
}

p, li {
    z-index: 10;
    position: relative;
    font-family: 'Indie Flower', cursive;
    font-size: 1.6em;
    font-weight: 900;
}

li {
    text-align: center;
    text-decoration: none;
    margin: 10px auto;
    list-style-type: none;
    cursor: pointer;
    border: 2px solid black;
    width: 40vw;
    border-radius: 5px;
    background-color: #7fff7f;
}

li:hover {
    background-color: transparent;
}

section {
    background-color: white;
    border: 2px solid black;
    width: 70vw;
    margin: 0 auto;
    padding: 15px;
}

span.dragon {
    color: maroon;
    text-decoration: underline;
}

span.wedding {
    color: darkgreen;
    text-decoration: underline;
}

span.piranha {
    color: darkblue;
    text-decoration: underline;
}

span.news {
    color: red;
    text-decoration: underline;
}

span.stars {
    color: red;
    text-decoration: underline;
}

span.bed {
    color: purple;
    text-decoration: underline;
}